*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgb(216, 216, 85); */
}
ul{
    /* padding: 8px; */
}
ul li{
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(231, 30, 30);
    margin: 5px;
}
nav{
    height: 50px;
    text-align: end;
    background-color: rgb(79, 6, 148);
}
li a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}