*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.parent{
    margin: 15px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    border: 2px solid green;
}
.child{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}