*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.parent{
    margin: 15px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    /* flex-flow: column-reverse wrap; */
}
.child{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    /* margin: 10px; */
}
.parent :nth-child(2){
    /* flex-grow: 4; */
    /* flex-shrink: 2; */
    flex-basis: 100px;
    /* background-color: black; */
}