.child{
    border: 1px solid red;
    grid-template: row;
    /* grid-column: 4;
    grid-row: 2; */
}
.parent{
    border: 2px solid black;
}
.fparent{
    display: grid;
    /* grid-auto-columns: auto;
    grid-auto-rows: auto; */
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    gap: 10px;
    grid-template-rows: repeat(9, 300px);
}
.six{
   grid-column:2/5;
   grid-column-start: 1;
   grid-column-end: 5;
   
}